<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farms By ID</title>
</head>

<body>
    <h1>
        <%= farm.name %>
    </h1>
    <ul>
        <li>City: <%= farm.city %>
        </li>
        <li>Email: <%= farm.email %>
        </li>
    </ul>
    <h2>Products</h2>
        <ul>
            <% for( let product of farm.products) { %>
                <li>
                    <a href="/products/<%= product.id %>"><%= product.Name %></a>
                </li>
                <% } %>
        </ul>
    
    <form action="/farms/<%= farm.id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
    <a href="/farms/"> Back to Home</a>
    <a href="/farms/<%= farm.id %>/edit">Edit</a>
    <a href="/farms/<%=farm.id%>/products/new ">Add Products</a>


</body>

</html>